* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  background-color: teal;
  overflow: hidden;
}

.grayPanel {
  background: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.grayPanelInverse {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
#startButton:hover,
.icon:hover {
  cursor: pointer;
}

/* Toolbar Styles */
#toolbar {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  padding: 2px;
}

#startButton {
  padding: 2px 5px;
  font-size: 22px;
  font-weight: bold;
}

.startButtonFocused {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  outline: none;
}

#startButton i {
  padding: 0px 5px;
  font-weight: normal;
}

#systemTray {
  float: right;
  padding: 0px 20px;
  font-size: 22px;
  font-weight: bold;
}

/* Desktop Icon Styles */
.icon {
  margin: 10px 10px;
  float: left;
  padding: 10px;
  text-align: center;
}
.icon i {
  text-shadow: 2px 2px 1px black;
  color: white;
  font-size: 50px;
}
.icon h6 {
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  line-height: 25px;
  text-shadow: 1px 1px 1px black;
}

/* Pop up Panel Styles */
.panel {
  margin: auto;
  margin-top: 20px;
  text-align: left;
  width: 800px;
  height: 600px;
  box-shadow: 5px 5px 10px black;
}

.panelHeader {
  background: linear-gradient(to right, #000184 40%, #0f80cd);
  color: white;
  padding: 5px 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.panelHeader h1 {
  font-size: 14px;
}

.xButton {
  padding: 0px 3px;
}

.panelWhite {
  background: white;
  margin: 3px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 1px 1px 0px black;
}

/* Individual Panel Styles */
#userInfoPanel {
  /* display: none; */
}

#userInfoPanel img {
  margin: 3px;
  height: 150px;
  float: left;
  box-shadow: 1px 1px 0px black;
}

#userInfoPanel h2 {
  display: inline;
}

#skills {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#skills i {
  font-size: 40px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #0170ba;
}

.fa-js {
  color: #f7df1e;
}

.fa-smile {
  color: #15cf2e;
}

.fa-desktop {
  color: black;
}
